<!DOCTYPE html>
<html lang="en" ng-app="demoApp">
  <head>
    <meta charset="utf-8">
    <title> QR Code Web App </title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css"/>
    <link rel='stylesheet' href='demo.css' />
  </head>
  <body ng-controller="DemoCtrl as ctrl">

    <div class="container">
    <h2>Qr Code Scanner App</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
    <button ng-click="ctrl.start()" ng-hide="ctrl.cameraRequested || url">Activate scanner</button>
    <p ng-show="ctrl.cameraRequested">Your browser should ask for permission to use the camera.</p>
    <div>
      <bc-qr-reader active="ctrl.cameraRequested" on-result="ctrl.processEtherAddressfromQR" on-error="onError" camera-status="cameraIsOn" width="200px" height="200px"></bc-qr-reader>
    </div>
    <hr>
    <p ng-show="ctrl.etherAddress">QR Code data detected!</p>
    <p><b>{{ ctrl.etherAddress }}</b></p>
    <br>
    <qr ng-show="ctrl.etherAddress" text="string"></qr>

    <div ng-if="ctrl.account">
        <i class="fa fa-money fa-2x" aria-hidden="true"> ETH {{ctrl.account.balance}}</i>
    </div>
    </div>
  </div>
  </div>
  </body>
</html>
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="demoApp.js"></script>
<script src="demoController.js"></script>
<script src="../bower_components/webcam-directive/app/scripts/webcam.js"></script>
<script src="../bower_components/bc-qr-reader/dist/bc-qr-reader.js"></script>
<script type="text/javascript" src="../bower_components/qrcode/lib/qrcode.min.js"></script>
<script type="text/javascript" src="../bower_components/angular-qr/angular-qr.min.js"></script>